*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'TimesSansSerif';}

@font-face{
    font-family: 'Gratina.eot';
    src: url('fonts/Gratina.eot');}

@font-face{
    font-family: 'TimesSansSerif.eot';
    src: url('fonts/TimesSansSerif');}

h1,h2,h3,h4{
    font-family: 'Gratina';}


