*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family:'Nexa-ExtraLight';} 

@font-face{
    font-family:'Nexa-Heavy';
    src: url('/fonts/Nexa-Heavy.ttf');}

@font-face{
    font-family:'Nexa-ExtraLight';
    src: url('/fonts/Nexa-ExtraLight.ttf');}

h1,h2,h3,h4{
    font-family:'Nexa-Heavy';}

body{
    background-color: #e2e8e2;}
    
nav{ 
    width: 100%;
    height:2em;
    overflow-x: auto;
    justify-content: center;
    position:fixed;
    bottom: 0;
    border-radius: 3%;
    background-color: rgb(32, 31, 31);
    padding: 2mm;
    }

nav ul {
    display: flex;
    justify-content: space-around;
    }
    
nav a{
    text-decoration: none;
    margin: 1em;
    }
    

.overons{
    background-color: #e2e8e2;}

.overons main{
    background-color: #073526;
    border: #e2e8e2;
    margin: 2mm;
    padding: 1mm;}

.overons section{
    background-color: #03835c;
    padding-left:1%;
    margin:3mm
    border-radius 1mm;
    color: whitesmoke;}

.overons h2{
    color: #073526;}

body section{
    margin-top: 1em;}


.fotosgerechten section ul{
    display: flex;
    flex-wrap:wrap;
    margin-left: 1em;}

.gerechten ul:first-of-type{
    display: flex;}

.fotosgerechten li{
   text-align: center;}

.fotosgerechten{
    margin-bottom:2em;
    background-color: #cbd1cb;}

.home{
    background-color: #073526;
    color:whitesmoke;}

.home h1 img{
    background-color: #e2e8e2;
    padding: 2mm;
    border-radius: 2%;}
.logo{
    display: flex;
    justify-content: center;
    background-color: #e2e8e2;
    padding: 1mm;}


h1{
    color: whitesmoke;
    background-color: #171717;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    text-align:center;
    text-transform: capitalize;
    font-size:x-large;}

.home h2{
color: #03835c;}


.home main section:last-of-type{
    background-color: #03835c;
    padding: 15mm;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    text-align: center;}

.home main section:last-of-type ul{
    display: flex;
    flex-wrap: wrap;}

.home main section:last-of-type li{
    text-align:center;
    margin: 2mm;
    background-color: white;
    border-radius: 5%;}

.home main section:first-of-type{
    line-height: 7mm;}

footer{
    padding-top: 1mm;
    background-color: #ccd1cb;
    padding-bottom: 3em;
    padding-left: 1mm;
    color: #171717;}

footer ul
    {display: flex;}

footer li{
    margin-right: 3%;
    border-radius: 5%;
    padding: 2%;
    background-color: #171717;}

.resultaat{
    background-color:#e2e8e2;
    text-align: center;}

.resultaat img{
    background-color: #171717;
    padding: 3%;}

.pompoensoep h3{
    background-color:whitesmoke;
    padding-bottom: 10em;
    background-image: url(images/voorgerechten/pompoensoep.jpg);
    border-radius: 5%;}

.pompoensoep li{
    margin-top: 5mm;
    padding: 1mm;
    background-color:whitesmoke;}

.procentbalk{
    padding:3mm;
    border-radius:15%;
    border-start-start-radius: 15%;
    background-color:whitesmoke;}

.pompoensoep p{
    background-color: #171717;
    padding:1em;}

.homepompoen ul:first-of-type{
    display: flex;}

.homepompoen ul:first-of-type li{
    margin: 3%;
    background-color: #e2e8e2;
    padding: 1%;
    border-color: #171717;
    border-style:solid;
    border-radius: 10%;}

