*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'TimesSansSerif';} 

@font-face{
    font-family:'Nexa-Heavy.eot';
    src: url('fonts/Nexa-Heavy');}

@font-face{
    font-family: 'Nexa-ExtraLight.eot';
    src: url('fonts/Nexa-ExtraLight');}

h1,h2,h3,h4{
    font-family:'Nexa-Heavy';}

body{
    background-color: #e2e8e2;
    }
    
nav{ 
    display: flex;
    width: 100%;
    height:3em;
    overflow-x: auto;
    justify-content: center;
    position:fixed;
    bottom: 0;
    border-radius: 3%;
    background-color: rgb(32, 31, 31);
    }
    
    nav ul{
    display: flex;
    margin-top: 1em;
    flex-wrap: wrap;
    }
    
    nav a{
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 2em;
    color: white;
    }
    
.overons{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-color: #e2e8e2;
    margin-bottom: 3em;
}

.overons main{
    background-color: #073526;
    margin: 2mm;
    margin-bottom: 0;
    padding: 1mm;
}

.overons section{
    background-color: #03835c;
    margin:3mm;
    margin-bottom: 0;
    border-radius: 1mm;}

body section{
    margin-top: 1em;}


.fotosgerechten section ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-left: 0;
    margin-left: 0;}

.gerechten ul:first-of-type{
    margin-top: 1em;}

.fotosgerechten section li{
    flex-direction:row;
    padding: 3mm;}

.fotosgerechten{
    margin-bottom:2em;
    background-color: #cbd1cb;}

.home{
    background-color: #073526;
    color:whitesmoke;
}

h1{
    color: whitesmoke;
    background-color: #171717;
    padding:3mm;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    text-align:center;
    text-transform: capitalize;}

.home h2{
color: #03835c;}


.home main section:last-of-type{
    background-color: #03835c;
    padding: 15mm;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    text-align: center;}

.home main section:last-of-type ul{
    display: flex;
    flex-wrap: wrap;}

.home main section:last-of-type li{
    margin: 2mm;
    background-color: white;
    padding: 2mm;
    border-radius: 5%;}

.home main section:first-of-type{
    margin-top: 1%;
    line-height: 6mm;
    text-size-adjust:6%;}

footer{
    padding-top: 1mm;
    background-color: #ccd1cb;
    padding-bottom: 3em;
    padding-left: 1mm;
    color: #171717;
}

.resultaat{
    background-color: #073526;}

.resultaat section:last-of-type{
    background-color: #03835c;
    padding: 15mm;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    text-align: center;}

.pompoensoep h3{
    background-color:whitesmoke;
    padding-bottom: 10em;
    background-image: url(images/voorgerechten/pompoensoep.jpg);
    border-radius: 5%;}

.pompoensoep li{
    margin-top: 5mm;
    padding: 1mm;
    background-color:whitesmoke;}

.procentbalk{
    padding:3mm;
    padding-right: 10em;
    border-radius:15%;
    border-start-start-radius: 15%;
    background-color:whitesmoke;}

.pompoensoep p{
    background-color: #171717;
    padding:1em;}

.homepompoen ul:first-of-type{
    display: flex;}

.homepompoen ul:first-of-type li{
    margin: 2mm;
    background-color: #e2e8e2;
    padding: 2mm;
    border-color: #171717;
    border-style:solid;
    border-radius: 10%;}


